<template name="usersForgetPassword">
    <div class="container sign-form">
        <div class="row">
            <div  class="col-md-4 col-md-offset-4">
             <div class='center' style='margin-top:2em'>
                <img src='/images/logo.png' class='responsive-img' alt='sushiroll2u'>
                </div>
                
                <form role="form">
                    <div class="form-group">
                        <label class="sr-only" for="email">{{_ "Email"}}</label>
                        <input type="text" class="form-control input-lg" id="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input id="btnForgetPassword" class="btn btn-danger btn-block btn-lg btn-red" type="submit" value="Reset Password"/>
                    </div>
                </form>
                <br/>
                <p class="text-center"><a href="{{pathFor 'usersLogin'}}">{{_ "Back to Login"}}</a></p>
            </div>
        </div>
    </div>
</template>
