<template name="usersRegister">
    <div class=" sign-form">
        <div class="row">
            <div  class="col-md-4 col-md-offset-4">
                 <div class='center' style='margin-top:2em'>
                <img src='/images/logo.png' class='responsive-img' alt='sushiroll2u'>
                </div>
                <form role="form">
                    <div class="input-field">
                          <i class="mdi-action-account-circle prefix"></i>
                        <input type="text" id="email" class="validate">
                         <label for="email">{{_ "Email"}}</label>
                    </div>                        
                    <div class="input-field">
                      <i class="mdi-hardware-security prefix"></i>
                   
                        <input type="password" id="password"  class="validate">
                             <label for="password">{{_ "Password"}}</label>
                    </div>
               
                    <div class="input-field">
                      <i class="mdi-social-mood prefix"></i>
                      
                        <input type="text"  id="name"  class="validate">
                          <label for="name">{{_ "Name"}}</label>
                    </div>
                    <div class="center" style="padding:1em">
                        <input id="btnRegister" class="btn-large orange darken-1" type="submit" value="Register"/>
                    </div>
                </form>
                <p class="text-center"><a href="{{pathFor 'usersLogin'}}">{{_ "Already have account? Log In here"}}</a></p>
            </div>
        </div>
    </div>
</template>
