<template name="usersRegister">
    <div class=" sign-form">
        <div class="row">
            <div  class="col-md-4 col-md-offset-4">
                 <div class='center' style='margin-top:2em'>
                <img src='/images/logo.png' class='responsive-img' alt='sushiroll2u'>
                </div>
                <form role="form">
                    <div class="form-group">
                        <label class="sr-only" for="email">{{_ "Email"}}</label>
                        <input type="text" class="form-control input-lg" id="email" placeholder="Email">
                    </div>                        
                    <div class="form-group">
                        <label class="sr-only" for="password">{{_ "Password"}}</label>
                        <input type="password" class="form-control input-lg" id="password" placeholder="Password">
                    </div>
               
                    <div class="form-group">
                        <label class="sr-only" for="name">{{_ "Name"}}</label>
                        <input type="text" class="form-control input-lg" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input id="btnRegister" class="btn btn-danger btn-red btn-block btn-lg" type="submit" value="Register"/>
                    </div>
                </form>
                <p class="text-center"><a href="{{pathFor 'usersLogin'}}">{{_ "Already have account? Log In here"}}</a></p>
            </div>
        </div>
    </div>
</template>
