<template name="templateBasicFooter">
    <div class='divider orange' style="margin-top:1em;"></div>
  <footer class="page-footer white">
    <div class="container">
      <div class="row">
        
        <div class="col l4 s12">
         
        <img class=' responsive-img' src='/images/logo.png' alt='SushiRoll2U '>
        </div>
     
        <div class="col l8 s12 right">
       

          <p class="right  large" style='text-align:right'>
         We have an unwavering commitment to flavor. Connection with our customers is critical to our success. Connect with us and let us know how we are doing.
          </p>
          <div class='center'>
              <a class="btn-floating btn-large waves-effect waves-light blue darken-4"><i class="fa fa-facebook"></i></a> 
                <a class="btn-floating btn-large waves-effect waves-light light-blue lighten-1"><i class="fa fa-twitter"></i></a>   <a class="btn-floating btn-large waves-effect waves-light  brown lighten-1"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text">
        <b>&copy; SushiRoll2U 2015</b><a href='#topMenu' class='tooltipped grey-text' data-position="left" data-delay="10" data-tooltip="Go Back Up"><i class="fa-3x fa fa-chevron-circle-up right red-text text-lighten-1" style='margin-top:.1em;'></i></a>
      </div>
    </div>
  </footer>
</template>